.testimonial {
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
    padding: 2em 0;
}

.testimonial-track {
    overflow-x: auto;
    display: flex;
    width: 100%;
    padding: 3em 15vw;
}
.testimony-card{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: #FFF;
    background: #3b3b3b
    linear-gradient(0deg, rgba(69,101,173,0) 0%, rgba(255,255,255,0.4) 100%);
    min-width: 600px;
    padding: 2em;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.card-header img, .card-header svg{
    max-height: 40px;
}
.card-footer {
    display: flex;
    align-items: center;
}
.card-footer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.card-footer p{
    margin : 0px;
}
.testimonial .controls{
    position: relative;
    margin-top: 10vh;
    left: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}
.card-content {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
}
.controls .bar{
    width: 50%;
    height: 1px;
    display: block;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.controls .testimonials__arrows{
    margin-left: 5vw;
    display: flex;
}

.controls .testimonials__arrows > div{
    margin: 0 4em;
}

.controls .bar::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    height: 5px;
    width: 100px;
    background-color: #FFF;
}

.testimonial h3{
    text-transform: uppercase;
    margin-left: 15%;
    font-size: 2em;
}











@media screen and (max-width: 1280px), screen and (max-height: 1024px){

    .card-content {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .testimony-card {
        min-width: 360px;
        padding: 2em;
        margin-right: 30px;
    }
    .testimonial .controls {
        margin-top: 5vh;
    }
}


@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {


}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {

}

/* MOBILE */
@media (max-width: 576px) {
    .testimonial-track {
        padding: 3em 30px;
    }
    .testimony-card {
        min-width: 290px;
        height: auto;
        max-height: 400px;
        padding: 15px;
        margin-right: 30px;
        text-align: left;
    }
    .testimonial .controls {
        position: relative;
        margin-top: 15px;
        left: 0px;
        width: 100%;
        padding: 0px 30px;
    }
    .controls .bar{display: none;}
    .testimonial h3 {margin-left: 0px;}
    .grid {
        grid-gap: 15px 15px;
    }
}
